
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p><del>#1 Profilim</del></p>
<p><del># tüm başlıklarda paging</del></p>
<p><del># mesajlarda sesion</del></p>
<p><del># oturumun yönetiminin mimariye taşınması</del></p>


