
@{
    ViewBag.Title = "SweetAlert";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<br />
<button class="btn btn-primary" id="btn1">Buton1</button>
<button class="btn btn-warning" id="btn2">Buton2</button>
<button class="btn btn-danger" id="btn3">Buton3</button>
<script>

    $('#btn1').click(function () { swal("Merhaba MvcProje Kampı"); });
</script>
<script>

    $('#btn2').click(function () { swal("Mvc Proje Kampı", "...Ders 96"); });
</script>
<script>

    $('#btn3').click(function () { swal("Tebrikler!", "YBaşarılı bir şekilde eklendi!", "success"); });
</script>

