
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>ToDoList</h2>
<h4>Yapılacaklar</h4>
<h4>Başlıklarda en üste arama kutucugu-yazdıgımız başlığı getircek</h4>
<h4>Yazarın başlıkları</h4>
<h4>yazar görselleri düzenlenecek</h4>
<h4>grafikler-google chart ekelnecek</h4>
<h4>vitrin teması eklenecek</h4>
<h4>gelen kutusunda arama</h4>
<h4>yetkilendirmeler</h4>
<h4>galeri</h4>
<h4><del>hata sayfaları -hata sayfası layouttan ayrılacak</del></h4>
<h4><del>sözlük ve vitrin ayrılacak</del></h4>
<h4>proje dosyaları sunucuya taşınacak</h4>
<h4>proje canlıya taşınacak</h4>
<h4>alan adı alınacak ücretsiz</h4>
<h4>herhangi bir tablo raporlanacak-ör başlıklar bir pdf ve excel sayfasına dönüştürülecek</h4>

