
@{
    Layout = null;
}

<h3>MvCkamp tablo örneği</h3>
<table>
    <tr>
        <th>ID</th>
        <th>ADI</th>
        <th>AÇIKLAMA</th>
        <th>DURUM</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Eğitim açıklaması</td>
        <td>true</td>
    </tr>
    <tr>
        <td>2</td>
        <td>sanat</td>
        <td>sanat açıklaması</td>
        <td>true</td>
    </tr>
    <tr>
        <td>3</td>
        <td>tiyatro</td>
        <td>tiyatro açıklaması</td>
        <td>true</td>
    </tr>
</table>